html {
  font-family: Helvetica, sans-serif;
  font-size: 18px;
  background-color: white;
}
.menu {
  padding-top: 1rem;
}
header {
  background: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/tortoiseshell-optics/resources/images/glasses-bg.png) no-repeat center center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 1rem;
  height: 30rem;
  }
header .flex {
  justify-content: flex-end;
}
.truncated-menu {
  display: none;
}
flex {
  display: flex;
}
div {
  display: block;
  }


ul li {
  display: inline;
  padding: 0rem 1rem;
  padding-top: 2rem;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  margin: .67em 0;
}
.service img.paper-icon {
    width: 3.5rem;
}
.service img {
  width: 5rem;
  margin-bottom: 1rem;
}
body {
  line-height: 1.4rem;
}

.main-banner {
  background-color: white;
  padding: 1.5rem 5rem;
  display: inline-block;
  margin-top: 10rem;
  margin-right: -2rem;
  line-height: 2.4rem;
  }

.container {
    max-width: 960px;
    margin: auto;
}

nav {
    padding: 1rem 0;
    background-color: cadetblue;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav img {
    height: 1.5rem;
    margin-left: 2rem;
    margin-right: 1rem;
}
nav div {
  align-items: center;
}
img {
    border-style: none;
}

.supporting {
    display: flex;
    justify-content: center;
}
.service {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin: 3rem;
    width: 5rem;
    height: 8rem;
}

footer {
    background-color: azure;
    padding: 4rem 2rem;
    display: flex;
    align-items: center;
}

.title {
  background-color: cadetblue;
  padding: 0.5rem 1.25rem;
  font-weight: bold;
  color: white;
  max-width: 10rem;
  font-size: 1rem;
}
.info p {
  padding: 1rem 0;

}
div .info {
  width: 35%;
}
p {
  display: block;
}
.info {
width: 35%;
margin-right: 5%;
}
.flex {
 display: flex;
}

/* Tablet */
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
header {padding-top: 0px; height: 22rem;height: 22rem;}
nav.container {}
nav {position: fixed;margin: 0;width: 100%;margin-top: 5rem;}
.main-banner {padding: 0.75rem 4rem;margin-right: 2rem;}
.container { max-width: 100%;margin:auto;}
}

/* Mobile */
@media only screen and (min-width: 320px) and (max-width: 480px) and (orientation: portrait) {
  header {padding-top: 2px; height: 22rem; background-repeat: no-repeat; background-position: 20%;margin-bottom: 3.77rem;}
  nav {position: fixed;margin: 1;width: 100%;margin-top: 9rem;}
  .main-banner {max-width: 100%;height: auto;display: inline-block;font-size: 1rem;margin-right: 0;padding: 0;}
  .container { max-width: 100%; margin:auto;display: center;}
  .supporting {display: flex;flex-direction: column;justify-content: center;align-items: center;}
  .service {margin: 0;}
  ul li, .container span,footer div {display: none;}
  .truncated-menu {display: inline;}
  .info .title {display: inline-block;max-width: 100%;}
  }
